*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: 16px;
}

body{
    font-family: 'ralewaylight';
    color: white;
}

a,
a:hover,
a:active,
a:select,
button:active,
button:select{
    color: inherit;
    text-decoration: none;
}

.navbar-brand img{
    width: 80px;
    padding: 0;
}
.navbar-brand{
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-brand img{
    opacity: 0.8;
}
.navbar-brand img:hover{
    opacity: 1;
}
.navbar{
    padding: 10px 0;
    background-color: black;
}
.navbar-tr{
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
.navbar .navbar-toggle{
    border: 1px solid #d6ac48;
}
.navbar .navbar-toggle:hover{
    background-color: #d6ac48;
}
.nav li{
    border-bottom: 1px solid transparent;
    transition: 0.4s ease-in;
}
.nav li a{
    color: white;
}
.nav li:hover{
    border-bottom: 1px solid #d6ac48;
}

#main{
    overflow: hidden;
    position: relative;
}

.main{
    position: relative;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    color: white;
    height: 100vh;
    transition: all 5s ease;
    overflow: hidden;
}

.wrap{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url('../img/mid-back-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    transition: 5s ease;
    overflow: hidden;
}

body:hover .wrap{
    transform: scale(1.2);
}
body:hover .main{
    background-color: rgba(0,0,0,0.8);
    transition: 5s ease;
}

#main .main-img{
    overflow: hidden;
    padding: 8% 0 0 0;
}
#main .main-title{
    font-family: 'ralewaylight';
    font-size: 3em;
    text-transform: uppercase;
}
#main .main-subtitle{
    font-family: 'ralewaythin';
}

.rs-list{
    padding: 10px 0;
}
.rs-list a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    border-radius: 100%;
    border: 1px solid #d6ac48;
    padding: 14px;
    width: 2em;
    height: 2em;
    transition: 0.4s;
}
.rs-list a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: transparent;
    color: #d6ac48;
}

#main .main-btn{
    margin-top: 1%;
    background-color: transparent;
    border: 1px solid #d6ac48;
    transition: 0.4s ease;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'ralewayregular';
    transition: 0.4s ease;
}
#main .main-btn:hover{
    background-color: #d6ac48;
    color: black;
    transform: scale(1.03);
}