*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: 16px;
}

/*GENERAL*/
body{
    font-family: 'ralewaylight';
    color: white;
    background-color: #FFF;
}

a,
a:hover,
a:active,
a:link,
a:visited,
button:active{
    color: inherit;
    text-decoration: none;
    transition: 0.4 ease;
}

/*HEADER*/
.navbar{
    padding: 5px 0;
    background-color: black;
}
.navbar-brand img{
    width: 80px;
    padding: 0;
}
.navbar-brand{
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-brand img{
    opacity: 0.8;
}
.navbar-brand img:hover{
    opacity: 1;
}
.navbar-tr{
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
.navbar .navbar-toggle{
    border: 1px solid #d6ac48;
}
.navbar .navbar-toggle:hover{
    background-color: #d6ac48;
}
.navbar .nav li{
    border-bottom: 1px solid transparent;
    transition: 0.4s ease-in;
}
.nav li a,
.collapse .nav .nav-selected a{
    color: white;
}
.nav li:hover,
.navbar .nav .nav-selected{
    border-bottom: 1px solid #d6ac48;
}

/*MAIN*/
#main,
.back-proceso,
.mercado{
    overflow: hidden;
    position: relative;
}

.main{
    position: relative;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    color: white;
    height: 100vh;
    transition: all 5s ease;
    overflow: hidden;
}

.wrap{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url('../img/mid-back-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    transition: 5s ease;
    overflow: hidden;
}

body:hover .wrap{
    transform: scale(1.2);
}
body:hover .main{
    background-color: rgba(0,0,0,0.8);
    transition: 5s ease;
}

#main .main-img{
    overflow: hidden;
    padding: 8% 0 0 0;
}
#main .main-title{
    font-family: 'ralewaylight';
    font-size: 3em;
    text-transform: uppercase;
}
#main .main-subtitle{
    font-family: 'ralewaythin';
}

.rs-list{
    padding: 10px 0;
}
.rs-list a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    border-radius: 100%;
    border: 1px solid #d6ac48;
    padding: 14px;
    width: 2em;
    height: 2em;
    transition: 0.4s;
}
.rs-list a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: transparent;
    color: #d6ac48;
}

.main-btn,
.inner-btn{
    margin-top: 1%;
    background-color: transparent;
    border: 1px solid #d6ac48;
    transition: 0.4s ease;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'ralewayregular';
    transition: 0.4s ease;
}
.main-btn:hover,
.inner-btn:hover{
    background-color: #d6ac48;
    color: black;
    transform: scale(1.03);
}

/*INNER*/
.inner-main{
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    padding: 50px 0;
    margin-top: 50px;
}
.inner-title{
    border-bottom: 1px solid #d6ac48;
    text-transform: uppercase;
    color: black;
    font-family: 'ralewaybold';
    font-size: 3em;
}
.inner-subtitle{
    border-bottom: 1px solid #d6ac48;
    text-transform: uppercase;
    font-family: 'ralewayregular';
    font-size: 2em;
}

/*ABOUT*/
.about{
    position: relative;
    padding: 40px 0;
    background-color: grey;
    overflow: hidden;
}
.about .about-img img{
    border: 1px solid #d6ac48;
}
.about .about-par{
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #d6ac48;
}
.about .bio-link{
    color: #d6ac48;
}
.about .bio-link:hover{
    text-decoration: line-through;
}

/*about>PROCESO*/
.proceso{
    position: relative;
    background-color: rgba(0,0,0,0.6);
    z-index: 4;
    color: white;
    overflow: hidden;
    padding: 40px 0;
}
.wrap-about{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url('../img/about-proceso.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    transition: 5s ease;
    overflow: hidden;
}
.back-proceso:hover .wrap-about,
.mercado:hover .wrap-mercado{
    transform: scale(1.1);
    transition: 5s ease;
}
.proceso .inner-subtitle{
    color: white;
}
.proceso .proceso-container{
    padding: 40px 10px 0 10px;
}
.proceso .proceso-container img{
    width: 60%;
    margin: 0 auto;
}
.proceso .proceso-title{
    color: #d6ac48;
    font-family: 'ralewayregular';
}
.proceso .proceso-par{
    font-family: 'ralewaythin';
}

/*about>CONOCIMIENTOS*/
.conocimientos{
    padding: 40px 0;
    background-color: red;
}

/*SERVICIOS*/
.diseno,
.desarrollo{
    overflow: hidden;
    color: black;
}
.sector{
    padding: 40px 0 0 0;
}
.diseno{
    background-color: white;
}
.desarrollo{
    background-color: white;
}
.sector-img{
    padding: 0;
}
.sector-img img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.sector-par{
    padding: 20px;
}
.sector-title{
    margin: auto 20px auto 20px;
    padding: 20px 0;
    border-bottom: 1px solid #d6ac48;
}
.mercado-cont{
    position: relative;
    background-color: rgba(0,0,0,0.6);
    z-index: 4;
    color: white;
    overflow: hidden;
    padding: 40px 0;
}
.wrap-mercado{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url('../img/servicios-tiempos.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    transition: 5s ease;
    overflow: hidden;
}

/*PORTFOLIO*/
.portfolio{
    overflow: hidden;
    padding: 40px 0;
}
.portfolio-proj{
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.portfolio-proj img{
    transition: 1s ease-out;
}
.portfolio-proj:hover img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: 1s ease;
}
.portfolio-proj figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 15% 0 0 0;
}
.portfolio-proj .portfolio-title{
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #d6ac48;
    font-family: 'ralewayregular';
}
.portfolio-proj .inner-btn{
    margin-top: 10%;
}
.portfolio-btn{
    padding: 10px 0 50px 0;
    overflow: hidden;
}
.portfolio-btn .bg-btn{
    color: black;
    font-size: 1.5em;
    font-family: 'ralewaybold';
}
.portfolio-btn .bg-btn:hover{
    color: white;
}

/*footer*/
footer{
    padding: 0;
    background-color: black;
    overflow: hidden;
}
footer .copyright{
    padding: 30px 0 0 0;
    font-family: 'ralewayregular';
}
footer .copyright a{
    font-family: 'ralewaythin';
    padding: 0 2px;
    color: #d6ac48;
    transition: 0.4s ease;
}
footer .copyright a:hover{
    text-decoration: line-through;
    transition: 0.4s ease-in;
}
footer .rrss .rs-list{
    padding: 10px 0 0 0;
}
footer .top{
    padding: 10px 0 0 0;
}
footer .top a span{
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #d6ac48;
    font-size: 2em;
    color: white;
    transition: 0.4s ease;
}
footer .top a span:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: transparent;
    color: #d6ac48;
}